@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.font-noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*header styles*/
.navbar,
.banner,
.section,
.plants-lover,
footer,
.latest-deal {
    max-width: 1140px;
    margin: 0px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

.home {
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

.shop {
    color: rgba(137, 135, 161, 1);
}

.about {
    color: rgba(137, 135, 161, 1);
}

.cart {
    color: black;
}

/*banner related styles*/
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.title-color {
    color: rgba(233, 90, 8, 1);
}

.banner-subtitle {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

/*card related styles*/
.section {
    justify-items: center;
}

.section-title {
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-subtitle {
    text-align: center;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.our {
    color: rgba(233, 90, 8, 1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    width: 100%;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-title,
.price {
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 10px;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-primary {
    max-width: 270px;
    width: 100%;
    height: 40px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
}

/*plants lover related styles*/
.plants-lover {
    display: flex;
    margin-top: 150px;
    gap: 60px;

}

.plants-lover-content {
    margin-top: 0px;
}

.plants-lover-title {
    padding-left: 20px;
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.plants-lover-list {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

ul li {
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.main-image {
    max-width: 540px;
    width: 100%;
    height: auto;
}

.badge {
    position: absolute;
    width: 286px;
    height: 286px;
    top: -120px;
    right: -120px;

}

/*latest deal styles*/
.container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.deal-section {
    justify-items: center;
    text-align: center;
    margin-top: 80px;
}

.deal-section h3 {
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.deal-section p {
    font-size: 1.35rem;
    color: rgba(0, 0, 0, 0.5);
}

.deal-section-title {
    color: rgba(233, 90, 8, 1);
}


.left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.right-section {
    flex: 2;
}

.deal-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.deal-card .content {
    position: absolute;
    text-align: center;
}

.deal-card .content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.deal-card .content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.deal-card .content a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.zabo-shop {
    font-size: 1.75rem;
    font-weight: bolder;
}

.bloom {
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
    background-position: center;
}

.ana {
    background-image: url('../assets/deal-ana.png');
    background-size: cover;
    background-position: center;
}

.zabo {
    background-image: url('../assets/deal-zabo.png');
    background-size: cover;
    background-position: center;
    height: 419px;
}

/*join section styles*/
.join-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500px;
    margin-top: 100px;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-title {
    font-size: 3.12rem;
    color: white;
    margin-bottom: 15px;
}

.join-bg {
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.input {
    width: 644px;
    height: 35px;
}

.btn-subscribe {
    padding: 12px 40px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    margin-left: -60px;
}

/*footer styles*/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-title {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-home ul li,
.footer-features ul li {
    list-style: none;
}

.footer-home ul li a,
.footer-features ul li a {
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}

.footer-sponsor img {
    margin-right: 24px;
}


/*responsive related styles*/
@media screen and (max-width:576px) {

    /*header styles*/
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    nav ul li {
        text-align: center;
    }

    .home,
    .shop,
    .about {
        display: none;
    }

    .cart {
        display: flex;
    }

    .logo img {
        height: 40px;
    }

    /*banner styles*/
    .banner {
        flex-direction: column-reverse;
        margin-top: 30px;
        margin-left: 10px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-subtitle {
        font-size: 1rem;
    }

    /*card related styles*/
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .section-br{
        display: none;
    }
    .section-subtitle{
        font-size: 1rem;
    }

    /*plant lover styles*/
    .plants-lover {
        flex-direction: column;
        margin-top: 41px;
        gap: 0px;
    }

    .badge {
        display: none;
    }

    .plants-lover-content {
        margin-top: 18px;
    }

    .plants-lover-title {
        font-size: 1.75rem;
        padding-left: 8px;
    }
    .plants-lover-list{
        font-size: 1rem;
        text-align: left;
        margin-right: 10px;
    }

    .no-br {
        display: none;
    }

    /*latest deal styles*/
    .container {
        flex-direction: column;
    }
    .deal-section p{
        font-size: 1rem;
    }

    .off-br {
        display: none;
    }

    .left-section {
        padding: 10px;
    }

    .deal-card .content h2 {
        font-size: 1.75rem;

    }

    .zabo {
        height: 215px;
    }

    .zabo-shop {
        font-size: 1rem;
    }

    .right-section {
        padding: 10px;
    }

    /*join section styles*/

    .join-section {
        height: 300px;
        margin-top: 44px;
    }

    .join-title {
        font-size: 1.25rem;
    }

    .input-field {
        width: 275px;
    }

    .btn-subscribe {
        margin-left: 0px;
        padding: 12px;
    }

    /*footer styles*/
    footer {
        margin-top: 0px;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 20px;
        margin-bottom: 150px;
    }
    .footer-title{
        font-size: 1rem;
    }
    .footer-br{
        display: none;
    }

    .footer-home,
    .footer-features {
        width: 100%;
    }

    .footer-home ul,
    .footer-features ul {
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .footer-sponsor {
        align-self: flex-start;
    }

}