@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.font-noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*header styles*/
.navbar,
.banner {
    max-width: 1140px;
    margin: 0px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 48px;
}

nav ul li {
    list-style: none;
}

.home {
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

.shop {
    color: rgba(137, 135, 161, 1);
}

.about {
    color: rgba(137, 135, 161, 1);
}

/*banner related styles*/
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}
.title-color{
    color: rgba(233, 90, 8, 1);
}
.banner-subtitle{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

/*responsive related styles*/
@media screen and (max-width:576px) {
    /*header styles*/
    .home,
    .shop,
    .about {
        display: none;
    }

    .navbar {
        align-items: center;
        margin: 0px auto;
    }
    /*banner styles*/
    .banner{
        flex-direction: column-reverse;
        margin-top: 30px;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-subtitle{
        font-size: 1rem;
    }

}