@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.font-noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*header styles*/
.navbar,
.banner,
.section,
.plants-lover {
    max-width: 1140px;
    margin: 0px auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 48px;
}

nav ul li {
    list-style: none;
}

.home {
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

.shop {
    color: rgba(137, 135, 161, 1);
}

.about {
    color: rgba(137, 135, 161, 1);
}

/*banner related styles*/
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 13px;
}

.title-color {
    color: rgba(233, 90, 8, 1);
}

.banner-subtitle {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

/*card related styles*/
.section {
    justify-items: center;
}

.section-title {
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-subtitle {
    text-align: center;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.our {
    color: rgba(233, 90, 8, 1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    width: 100%;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-title,
.price {
    text-align: center;
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 10px;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn-primary {
    max-width: 270px;
    width: 100%;
    height: 40px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
}

/*plants lover related styles*/
.plants-lover{
    display: flex;
    margin-top: 170px;
    gap: 60px;

}
.plants-lover-content{
    margin-top: 0px;
}
.plants-lover-title{
    padding-left: 20px;
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.plants-lover-list{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
ul li {
    margin-bottom: 20px;
}

.image-container {
    position: relative;
  }

 .main-image{
    max-width: 540px;
    width: 100%;
    height: auto;
  }
.badge{
    position: absolute;
    width: 286px;
    height: 286px;
    top: -120px;
    right: -120px;

}


/*responsive related styles*/
@media screen and (max-width:576px) {

    /*header styles*/
    .home,
    .shop,
    .about {
        display: none;
    }

    .navbar {
        align-items: center;
        margin: 0px auto;
    }

    /*banner styles*/
    .banner {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-subtitle {
        font-size: 1rem;
    }

    /*card related styles*/
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    /*plant lover styles*/
    .plants-lover{
     flex-direction: column;
     margin-top: 41px;
     gap: 0px;
    }
    .badge{
        display: none;
    }
    .plants-lover-content{
        margin-top: 18px;
    }
    .plants-lover-title{
        font-size: 1.5rem;
    }
    .no-br{
        display: none;
    }
}